table {
  background-color:#aaaa;
  /* opacity: 20%; */
  padding: 10px;
  width: 650px;
  height: 600px;
}
td {
  background-color:ghostwhite;
  border: 1px solid black;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  border-bottom-width: thick

}

#grid{
  margin-left: 33%;
}

#result, #update{
  color: white;
  /* padding: 30px;*/
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-weight: bold;
  font-size: 60px;
  margin-left: 33%;
 
}